[submodule "BrogueCE"]
	path = BrogueCE
	url = git@github.com:spikedoanz/BrogueGE.git
[submodule "broguegym-dev"]
	path = broguegym-dev
	url = git@github.com:spikedoanz/broguegym-dev.git
	branch = 4.0
